{% extends 'blog/layout/base.html' %}
{% load static from staticfiles %}

{% block title %} Bio{% endblock %}
{% block content %}
<div style="background-image:{% static 'blog/img/fond1.jpg' %}">
	<link title="timeline-styles" rel="stylesheet" href="{%static 'timeline3/css/timeline.css'%}">
    <script src="{%static 'timeline3/js/timeline.js'%}"></script>
    <div id='timeline-embed' style="width: 100%; height: 600px" >
        <script type="text/javascript">
            var timeline_json = "{%static 'blog/bio.json'%}";
            var additionalOptions = {
             start_at_end: true,
              default_bg_color: {r:0, g:0, b:0},
              timenav_height: 150,

            }
            timeline = new TL.Timeline('timeline-embed',
                timeline_json,
                additionalOptions);
        </script>
    </div>
</div>

{% include 'blog/layout/_nav.html' %}


{% block body %}
<div align="center">
<blockquote>
     <p>Petit résumé</p>
        {% for post in posts%}
        <footer>{{post.title}}</footer>
        {% endfor %}
 </blockquote>
</div>



<article>
    <div class="section">
        <div class="container">
            <div class="row">
                <h1>Petite biographie</h1>
                {% for post in posts%}
                <div class="row">
                    <div class="col-md-4">
                        <h5>{{post.title}}</h5>
                        <p align="justify">{{post.body|safe}}</p>
                    </div>
                    {%if forloop.counter|divisibleby:"3" %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}
{% include 'blog/layout/_footer.html' %}

{% endblock %}