{% extends 'blog/layout/base.html' %}

{% load static %}
{% load imagekit %}

{% block title %} Mes Projets {% endblock %}--!>
{% block content %}
<div>
	<link title="timeline-styles" rel="stylesheet" href="{%static 'timeline3/css/timeline.css'%}">
    <script src="{%static 'timeline3/js/timeline.js'%}"></script>
    <div id='timeline-embed' style="width: 100%; height: 600px">
        <script type="text/javascript">
            var timeline_json = "{%static 'blog/projet.json'%}";
            var additionalOptions = {
             start_at_end: true,
              default_bg_color: {r:0, g:0, b:0},
              timenav_height: 150
            }
            timeline = new TL.Timeline('timeline-embed',
                timeline_json,
                additionalOptions);
        </script>
    </div>
</div>

{% include 'blog/layout/_nav.html' %}


{% block body %}
<article>
   {% for post in posts reversed %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{post.title}}</h1>
                    <br>
                    <h5>Domaine(s) utilisé(s):</h5>
                    <blockquote>
                    {%for domains in post.domain %}
                        <footer>{{domains}}</footer>
                    {%endfor%}
                    </blockquote>
                    <p class="text-center">
                        <br> <br> {{post.intro|safe}}
                    </p>
                  <button onclick="myFunction({{post.id}})">plus de detail</button>
                    <div id="{{post.id}}" style="visibility:hidden">{{post.body|safe}}</div>
                </div>
                <div class="col-md-2">
                    {% if post.image1  %}
                    <figure><img src="{{post.avatar1.url}}" alt="{{post.legende1}}" style="border-radius:50%;width:300px"></figure>
                    {% endif %}
                    {% if post.image2  %}
                    <figure><img src="{{post.avatar2.url}}" alt="{{post.legende2}}" style="border-radius:50%;width:300px"></figure>
                    <br>
                    {% endif %}
                    {% if post.image3  %}
                    <figure><img src="{{post.avatar3.url}}" alt="{{post.legende3}}" style="border-radius:50%;width:300px"></figure>
                    <br>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
</article>

<script>
function myFunction(x) {
	if(document.getElementById(x).style.visibility == "hidden"){
    document.getElementById(x).style.visibility = "visible"
    }else{
    document.getElementById(x).style.visibility = "hidden"
    }
}
</script>


{% endblock %}
{% endblock %}